<style>

    .challenge__headline {
        color: black;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .challenge__image {
    }

    .challenge__source {
        padding: 10px;
        color: black;
        margin: 0;
    }

    .challenge__source__from {
    }

    .challenge__source__source {
        font-style: oblique;
    }

    .challenge__article {
        margin: 10px;
        background: #f6f6f6;
    }

    .challenge__logo {
        vertical-align:middle;
    }

</style>

<div class="fc-container">
    <div class="challenge fc-container__inner">
        <h2 class="challenge__title fc-container__header__title">other coverage</h2>
        <p class="container__meta__item">See how other news organisations are covering this story</p>
        <ul class="challenge__articles u-unstyled l-row  l-row--cols-4">
        <% forEach(articles.slice(0, 4), function(article) { %>
            <li class="challenge__article l-row__item l-row__item--span-1">
                <a href="<%=article.link%>" target="_blank">
                    <div class="challenge__source">
                        <% if(article.logo) { %>
                            <img height="30" class="challenge__logo" src="<%=article.logo%>">
                        <% } %>
                        <span class="challenge__source__from">From</span>
                        <span class="challenge__source__source"><%=article.altSrc%></span>
                    </div>
                    <div class="u-responsive-ratio">
                        <img class="challenge__image" src="<%=article.image%>">
                    </div>
                    <p class="challenge__headline item__title">
                        <%=article.headline%>
                        <img height="22" style="vertical-align: text-bottom" src="https://cdn1.iconfinder.com/data/icons/pixel-perfect-at-16px-volume-1/16/5006-128.png">
                    </p>
                </a>
            </li>
        <% }) %>
        </ul>
    </div>
</div>
