<style>

    .challenge__headline {
        color: black;
        padding: 10px;
        text-overflow: ellipsis;
        overflow: hidden;
        max-height: 150px;
    }

    .challenge__image {
    }

    .challenge__source {
        padding: 10px;
        color: black;
        margin: 0;
    }

    .challenge__source__source {
        font-style: oblique;
    }

    .challenge__article {
        margin: 10px;
        background: #f6f6f6;
    }
</style>

<!--TODO-->
<!--logo-->

<div class="fc-container">
    <div class="challenge fc-container__inner">
        <h2 class="challenge__title fc-container__header__title">challenge your point of view</h2>
        <p class="container__meta__item">You might be interested in what other people say</p>
        <ul class="challenge__articles u-unstyled l-row  l-row--cols-4">
        <% forEach(articles.slice(0, 4), function(article) { %>
            <li class="challenge__article l-row__item l-row__item--span-1">
                <a href="<%=article.link%>" target="_blank">
                    <p class="challenge__source"><span class="challenge__source__from">From</span>
                        <span class="challenge__source__source"><%=article.altSrc%></span>

                    <div class="u-responsive-ratio" style="width: 100px"><img src="<%=article.logo%>"></div></p>
                    <div class="u-responsive-ratio">
                        <img class="challenge__image" src="<%=article.image%>">
                    </div>
                    <p class="challenge__headline"><%=article.headline%></p>
                </a>
            </li>
        <% }) %>
        </ul>
    </div>
</div>
